*
{
    font-family: 'ZCOOL KuaiLe', cursive;
font-weight: 400;
font-size: 25px;
}

body
{
    background-image: url(../images/44.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.navbar-nav
{
    position: absolute;
    right: 4px;
}
.nav-item
{
    font-family: 'ZCOOL KuaiLe', cursive;
    margin-left: 4px;
    background-color: rgba(186, 186, 192, 0);
    transition: 1s;

}
.nav-item:hover
{
    background-color: rgba(186, 186, 192, 0.400);
    border-radius: 50%;
    margin-top: 8px;
}
.navbar-brand
{
    background-color: rgba(186, 186, 192, 0);
    transition: 1s;
}
.navbar-brand:hover
{
    background-color: rgba(186, 186, 192, 0.400);
    border-radius: 50%;
}
.head-title
{
    position: absolute;
    right: 3px;
    top: 40%;
}
.head-title:hover
{
   margin-right: 6px;
}
.line
{
    width: 400px;
    height: 4px;
    background-color: black;
    position: absolute;
    right: 0%;
    top: 50%;
    transition: 1s;
}
.line:hover
{
    width: 700px; 
}